@import url('https://fonts.googleapis.com/css2?family=Roboto');
$navbarColor : #78350F;
$backgroundColor: var(--linear-gradient-vertical-amber-50-to-white, linear-gradient(180deg, #FFFBEB 0%, #FFF 100%));
$textColor: #0F172A;
$bestSectionBackgroundColor:#0F172A;
$small: 500px;

body {
    background: $backgroundColor !important;
    overflow-x: hidden;

    header {
        .btn-outline-success {
            color: $navbarColor;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.5px;
            border-radius: 8px;
            border: 2px solid $navbarColor;

            &:hover {
                background-color: $navbarColor;
                color: #ffffff;
                border: 2px solid $navbarColor;
            }
        }

        .btn-no-outline {
            color: $navbarColor;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.5px;

            &:hover {
                color: $navbarColor;
            }
        }

        .navbar {
            .container {
                .navbar-brand {
                    color: $navbarColor;
                    font-family: Roboto;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 110%;
                }

                #navbarSupportedContent {
                    ul {
                        gap: 16px;
                    }
                }

                .nav-link {
                    color: $navbarColor !important;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0.5px;
                }
            }

            .navbar-toggler {
                border: none;
            }
        }

        .main {
            position: relative;

            .main-subject {
                color: $textColor;
                font-family: Roboto;
                font-style: normal;
                font-weight: 800;
                line-height: 110%;
            }

            .main-paragraph {
                font-family: Roboto;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;
            }

            .main-section {
                position: relative;

                .icon {
                    position: absolute;
                    top: -3%;
                    left: 9%;

                    @media screen and (max-width: $small) {
                        left: 50%;
                    }
                }

                .fs-4 {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 110%;
                    margin-top: 2%;
                }

                .fs-5 {
                    font-family: Roboto;
                    font-style: normal;
                    font-size: 18px !important;
                    font-weight: 400;
                    line-height: 160%;
                }
            }
        }

        .rectangle {
            position: absolute;
            right: 0px;
            bottom: -25%;
            z-index: -1;

            @media screen and (max-width: $small) {
                right: 0px;
                width: 1800px;
                height: 1800px;
                top: 5%;
            }
        }
    }

    .best-section {
        position: relative;
        background: $bestSectionBackgroundColor;
        border-top: 1px solid var(--blue-gray-200, #E2E8F0);
        border-bottom: 1px solid var(--blue-gray-200, #E2E8F0);

        h4 {
            color: #FFF;
            font-family: Roboto;
            font-style: normal;
            font-weight: 800;
            line-height: 110%;
        }

        .btn-outline-success {
            border-radius: 8px;
            border: 2px solid #FFF;
            color: #FFF;
            font-family: Roboto;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.5px;

            &:hover {
                background-color: #FFF;
                color: $bestSectionBackgroundColor;
            }
        }

        .bg-image {
            position: absolute;
            left: 2%;
            bottom: 10%;
            width: 97%;
        }

        .card {
            width: 95%;
            background: $bestSectionBackgroundColor;
            color: #FFF;
            border-radius: 10px;
            border: 1px solid $bestSectionBackgroundColor;
            box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07), 0px 25px 50px -12px rgba(255, 255, 255, 0.25);

            .btn-outline-primary {
                border-radius: 8px;
                border: 2px solid var(--white, #FFF);
                color: #FFF;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0.5px;

                &:hover {
                    background-color: #FFF;
                    color: $bestSectionBackgroundColor;
                }
            }

            .card-title {
                color: #FFF;
                font-family: Roboto;
                font-style: normal;
                font-weight: 700;
                line-height: 110%;
            }

            .card-text {
                color: #FFF;
                font-family: Roboto;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;
                font-size: 18px;
            }
        }
    }

    .why-join-us {

        .custom-card {
            z-index: -2;
            position: relative;
            width: 100%;
            height: auto;
            padding: 80px;
            border-radius: 30px;
            background: #FFF;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07), 0px 20px 25px -5px rgba(0, 0, 0, 0.10);

            @media screen and (max-width: $small) {
                padding: 2%;
                margin-top: 5%;
            }

            .custom-card-title {
                color: $textColor;
                font-family: Roboto;
                font-style: normal;
                font-weight: 800;
                line-height: 110%;
            }

            ul {
                list-style: none;
                padding-left: 0;

                li {
                    color: $textColor;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 180%;
                }
            }

            .btn-outline-success {
                color: $navbarColor;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                letter-spacing: 0.5px;
                border-radius: 8px;
                border: 2px solid $navbarColor;

                &:hover {
                    background-color: $navbarColor;
                    color: #ffffff;
                    border: 2px solid $navbarColor;
                }
            }

            .custom-img {
                top: -25%;
                left: -10%;
                z-index: -1;

                @media screen and (max-width: $small) {
                    width: 100%;
                    left: 0;
                    top: -15%;
                }
            }

            .rectangle-absolute {
                z-index: 3;
                left: 20%;
                bottom: 5%;
            }

            .main-img {
                z-index: 2;
            }
        }
    }

    .they-love-us {
        .they-love-us-title {
            color: var(--blue-gray-900, #0F172A);
            font-family: Roboto;
            font-style: normal;
            font-weight: 800;
            line-height: 110%;
        }

        .arrow-buttons {
            display: flex;
            padding: 8px;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            border: 2px solid var(--amber-900, #78350F);
            box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.07), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
        }

        .slide-background {
            background: #FDE68A;
            min-height: 400px;
            margin-bottom: 200px;

            .owl-carousel {
                top: 10%;
                width: 110%;

                @media screen and (max-width: $small) {
                    width: 107%;
                }

                left: -5%;

                .owl-stage {
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-flex-wrap: wrap;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                }

                .owl-item {
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    height: auto !important;
                }

                .card {
                    border-radius: 20px;
                    border: 1px solid var(--blue-gray-200, #E2E8F0);
                    background: var(--white, #FFF);
                    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.07), 0px 10px 15px -3px rgba(0, 0, 0, 0.10);

                    .card-text {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 160%;
                    }

                    .text-muted {
                        color: var(--blue-gray-600, #475569);
                        font-family: Roboto;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%;
                    }

                    h6 {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 160%;
                    }

                    .card-title {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 110%;
                    }

                    img {
                        width: 64px;
                    }
                }
            }
        }
    }

    .grow-your-collection {
        .background {
            bottom: 0;
            max-width: 100%;
            object-fit: cover;

            &.img-1 {
                z-index: -3;
            }

            &.img-2 {
                z-index: -2;
            }

            &.img-3 {
                z-index: -1;
                height: auto;
            }
        }

        .title {
            color: $textColor;
            font-family: Roboto;
            font-style: normal;
            font-weight: 800;
            line-height: 110%;
        }

        .content-text {
            color: $textColor;
            font-family: Roboto;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
        }

        .nav-pills {
            .nav-link {
                text-align: start;
                margin-bottom: 10%;
                cursor: pointer;
                color: $textColor;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0.5px;

                &.active {
                    border-radius: 8px;
                    background: var(--white, #FFF);
                    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.07), 0px 4px 6px -1px rgba(0, 0, 0, 0.10);
                }
            }
        }
    }

    .collected-section {
        width: 102%;

        @media screen and (max-width: $small) {
            width: 100%;
        }

        background: #78350F;
        overflow-x: hidden;

        .map-picture {
            left: 15%;
            top: 3%;
        }

        .ellipses-img {
            left: 5%;
            top: 0;
            right: 0;
            bottom: 0;
            display: block;
            max-width: 100%;
            margin: auto;

            @media screen and (max-width: $small) {
                left: 75%;
                height: 60%;
            }
        }

        .map-content {
            left: 0;
            top: 45%;
            right: 0;
            bottom: 0;
            display: block;
            margin: auto;

            .map-title {
                color: var(--amber-50, #FFFBEB);
                text-align: center;
                font-family: Roboto;
                font-style: normal;
                font-weight: 800;
                line-height: 110%;

                @media screen and (max-width: $small) {
                    margin-top: 10%;
                }
            }

            .map-text {
                color: var(--amber-50, #FFFBEB);
                text-align: center;
                font-family: Roboto;
                font-style: normal;
                font-weight: 800;
                line-height: 110%;
            }
        }
    }

    .footer {
        background: $bestSectionBackgroundColor;

        ul {
            list-style: none;

            li {
                a {
                    color: var(--blue-gray-200, #E2E8F0);
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 250%;
                    text-decoration: none;
                }

                &:first-child {
                    color: var(--white, #FFF);
                    font-weight: 500;
                }

                img,
                svg {
                    cursor: pointer;
                }

                svg {
                    margin-right: 6%;
                }
            }
        }

        .footer-bottom {
            border-top: 1px solid var(--blue-gray-700, #334155);
            color: var(--blue-gray-200, #E2E8F0);
            span {
                font-family: Roboto;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
            }

            .footer-links{
                a {
                    padding-right: 5%;
                    color: var(--blue-gray-200, #E2E8F0);
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                    text-decoration: none;
                }
            }
        }
    }
}



.owl-prev {
    left: -20px;
}

.owl-next {
    right: -20px;
}

.owl-prev i,
.owl-next i {
    transform: scale(2, 5);
    color: #ccc;
}